.container-home {
  /* display: flex; */
  max-width: 100%;
  height: 100vh;
  margin: auto;
  text-align: center;
  /* margin-top: 100px; */
}
.container-home > * {
  margin-top: 30px;
}

.container-social-media-work {
  display: flex;

  text-align: center;
  justify-content: center;

  gap: 50px;
}

.social-media-work {
  width: 35px;
}

.greeting {
  font-size: 2.7rem;
  font-weight: bolder;
}
.position {
  font-size: 1.5rem;
  color: #a9a297;
}
.my-description {
  color: #a9a297;
  width: 350px;
  margin: auto;
  margin-top: 10px;
  /* text-align: left; */
}
.my-image {
  margin: auto;
  text-align: center;
}

.headshot {
  /* position: relative; */
  margin: auto;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(150px + 8vw);
  width: calc(150px + 8vw);
  border: calc(8px + 0.2vw) solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  background-position: center;
}

.headshot-2 {
  /* margin-left: 20px; */
  border-radius: 50%;
  background-image: url("../media/master.jpg"),
    linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  /* background-color: #000000a7; */
}

.tache {
  animation: rotate 1s infinite;
  animation-direction: alternate;
}

.container-social-media-work2 {
  opacity: 0;
}

@keyframes rotate {
  100% {
    transform: scale(1.2);
  }
}

.btn-contact-me {
  margin: auto;
  /* padding-top: 10px; */
  margin-top: 20px;
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s;
}

.btn-contact-me span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn-contact-me svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn-contact-me:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-contact-me:hover svg {
  transform: translateX(2.8em) rotate(45deg) scale(1.1);
}

.btn-contact-me:hover span {
  transform: translateX(10em);
}

.btn-contact-me:active {
  transform: scale(0.95);
}
