.container-menu-portfolio {
  display: flex;
  width: 100vw;
  /* max-width: 100%; */
  position: fixed;
  background-color: white;
  justify-content: space-between;
  top: 0;
  transition: 0.8s;
  z-index: 1;
  background-color: #06101ea8;
  color: #60ffd9;
  backdrop-filter: blur(4px);
  opacity: 0;
  /* background-color: green; */
}

.my-name-menu {
  /* margin: 0; */
  margin: 30px;
  font-size: 22px;
  margin-left: 10%;
}

.container-link-portfolio {
  text-decoration: none;
  color: #60ffd9;
}
.menu-options {
  display: flex;
  font-weight: 900;
  align-items: center;
  margin-right: 10%;
  /* right: 50%; */
}

.menu-options > div {
  margin-right: 40px;
  /* color: #60ffd9; */
}

.flag-language {
  width: 28px;
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@media only screen and (min-width: 1200px) {
  .container-menu-portfolio {
    opacity: 1;
  }
  .container-home {
    padding-top: 75px;
  }
  #section-portfolio {
    padding-top: 82px;
  }
  .section-top-skill {
    padding-top: 82px;
  }
}
