.container-menu-portfolio {
  display: flex;
  justify-content: space-between;
  width: 95%;
  /* margin-left: 5%; */
}
.my-name-menu {
  /* margin: 0; */
  margin: 30px;
  font-size: 22px;
}

.container-menu-portfolio > div {
  /* padding: 5px; */
}
.menu-options {
  display: flex;
  font-weight: 900;
  align-items: center;
}

.menu-options > div {
  margin-right: 40px;
}

.flag-language {
  width: 28px;
}

.btn-contact-me {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s;
}

.btn-contact-me span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn-contact-me svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn-contact-me:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-contact-me:hover svg {
  transform: translateX(2.8em) rotate(45deg) scale(1.1);
}

.btn-contact-me:hover span {
  transform: translateX(10em);
}

.btn-contact-me:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
