.container-projects {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
  /* padding: 10px; */
  /* height: 500px; */
  /* justify-content: center; */
  /* width: 80%; */
  /* flex: 1; */
}

.container-video-card {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 25px;
  /* margin: 10px; */
}

.container-video-card > video {
  /* padding: 10px; */
  /* width: 400px; */
  width: 98%;
  /* height: 250px; */
  /* max-height: 250px; */
  border-radius: 10px;
}
.image-project {
  width: 98%;

  border-radius: 10px;
  min-height: 220px;
}

.text-card-video {
  background-color: rgb(7, 68, 121);
  border-radius: 10px;
  position: absolute;
  top: 54%;
  height: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  margin-top: -20px;
}
.container-made-with {
  position: absolute;
  bottom: 0;
  /* left: 50%;
  transform: translate(-50%, 0); */
}
.made-with {
  width: 25px;
  margin: 5px;
}
.title-projects {
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .container-projects {
    width: 70%;
    margin: auto;
  }
}
