.swiper-button-next {
  background-image: url(../media/next.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background-image: url(../media/back.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}
.swiper-pagination-bullet-active {
  background-color: rgb(0, 255, 128) !important;
  margin-top: 100px;
}
