.section-top-skill {
}
.skill-section {
  margin: auto;
  width: 350px;
  /* margin-top: -66px; */
}
.container-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 350px; */
  /* margin: auto; */
}
/* .skill {
  flex: 25.33%;
} */

.skill-icon {
  width: 50px;
}

.container-skill-titles {
  text-align: center;
}
.container-skills > div {
  margin: 20px;
}

.skill-title {
  color: black;
  font-size: 35px;
  font-weight: 600;
}

.move {
  animation: up-down 1.3s;
}

@keyframes up-down {
  0% {
    transform: scale(1.8) rotate(360deg);
  }
}
