.section-top-skill {
  height: 100vh;
}
.skill-section {
  margin: auto;
  width: 350px;
  /* margin-top: %; */
}
.container-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-icon {
  width: 50px;
}
.container-btn-cv {
  display: flex;
  background-color: transparent;
  width: 155px;
  border-radius: 5px;
  justify-content: space-evenly;
  padding: 7px;
  margin: auto;
  cursor: pointer;
  /* animation: increase 1s infinite ease-in-out; */
  animation-direction: alternate;
  border: solid 1px #009571;
}
.cv {
  width: 25px;
}
.btn-cv {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: 5px;
  color: #0beeb9;
}

.container-skill-titles {
  text-align: center;
}
.container-skills > div {
  margin: 20px;
}

.skill-title {
  color: #b0cdf1;
  font-size: 35px;
  font-weight: 600;
}

.move {
  animation: up-down 1.3s;
}

@keyframes up-down {
  0% {
    transform: scale(1.8) rotate(360deg);
  }
}
@keyframes increase {
  100% {
    border: solid green;
  }
  /* 0% {
    border: solid green;
  } */
}
