@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --body-font: "Poppins", sans-serif;
  /* --weight-font:font */
}

body {
  margin: 0;
  box-sizing: border-box;
  /* display: block; */
  font-family: var(--body-font);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  /* background-color: ; */
}

.container-body {
  /* margin: 10px; */
  width: 70%;
  margin: auto;
}
