@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --body-font: "Poppins", sans-serif;
  /* --weight-font:font */
}
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: var(--body-font);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.container-body {
  /* margin: 10px; */
  /* width: 70%; */
  /* padding: 100px; */
  margin: auto;
}
